.main {
  margin: auto;
  background-color: aqua;
  padding: 1.2rem 0;
}

.mainNav ul {
  display: flex;
  justify-content: space-around;
  margin: 0 4%;
}

.mainNav ul li {
  font-weight: 600;
  margin: 0 10px;
  list-style: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .mainNav ul li {
    font-weight: 600;
    list-style: none;
    cursor: pointer;
  }
}
